      <div class="container" >
  <div class="title center">
<h2 class="foot">Join Foot-Clan the resource to post and sell shoes</h2>  
</div>


  <div class="register ">
       <div class='col-md-6 home-div'>
      <div class="home-info lead well use" style="background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(195, 218, 247)); background-color: rgb(195, 218, 247);">
            <p class="hometext">Register</p>
            <p class="hometext">Maybe you want to sell shoes.</p>
            <p class="hometext">Maybe you're tired of paying fees to ebay.</p>
            <p class="hometext">Join Foot-Clan now for FREE to stop giving away your profits to fees</p>
          </div>
      </div>
    </div>

<div class="sell">
    <div class='col-md-6 home-div'>
      <div class="home-info lead well use" style="background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(195, 218, 247)); background-color: rgb(195, 218, 247);">
            <p class="hometext">Sell</p>
        <p class="hometext">Foot-clan allows users to upload photos of shoes they want to sell. </p>
        <p> Gives you an opportunity to skip ebay fees and free you from scouring craigslist, ebay, and facebook to find the sneaker you need!</p>
      </div>
    </div>
</div>



